page-agenda {
.grid-agenda{width: 95 vw; font-weight: 18px; height: 25vh; text-align: center; padding-top: 70px ;margin-top:10px;}
.disponivel{background-color: #4682B4; color: white;}
.ocupado{background-color: #FF4500; color: white;}
}
