page-petshops {
.azul::after {
  content: url("http://recursos.mytime.com.br/Imagem/Menu/247/Azul.gif");
}
.vermelho::after {
  content: url("https://www.deliciouslingerieplus.com.br/image/cache//cores/cor-vermelha-30x30.jpg");
}
.centro{
  width:100vw;
  text-align: center;
}
.efect{
  margin-right: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.efect:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
}
